@{
    ViewData["Title"] = "Home Page";
}
<h1>welcome @ViewBag.name</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="account/login">Login Page</a>
<a href="student/index">School Page</a>
@{ 
    int a = 10;
    int b = 16;
    int result = a + b;
}

<h6>the result is @result</h6>
